logs
*.log

.env.local
.env.development.local
.env.test.local
.env.production.local

/node_modules/
/npm-debug.log
/coverage
/.nyc_output
/.tmp
/dist/*
/build/*
index.html
/scripts/
enc/
yarn-error.log
/.cache-loader
/.idea/workspace.xml
/.idea/typescript-compiler.xml